
        .content{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;

        }
        #generalStyles {
            border-style: double;
            border-color: darkmagenta;
            padding: 10px;
        }

        body{
            color:red;
        }

        a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        }

        a:hover, a:active {
        background-color: red;
        }

